#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_sweetcoin
#build/sweetcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_sweetcoin)

DEB_INSTALL_EXAMPLES_sweetcoind += debian/examples/*
DEB_INSTALL_MANPAGES_sweetcoind += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix sweetcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f sweetcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake sweetcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_sweetcoin
	src/test_sweetcoin

# Ensure wrapper is set executable
binary-post-install/sweetcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/sweetcoind
binary-post-install/sweetcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/sweetcoin-qt
